# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Django
db.sqlite3
db.sqlite3-journal
*.log
local_settings.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
